@import "mixins";

@mixin grid {
  max-width: 90%;
  margin: auto;
}
@mixin d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin font-titulos {
  @media (min-width: 1025px) {
    font-size: 2.625rem;
  }
  @media (max-width: 1024px) {
    font-size: 2.25rem;
  }
  @media (max-width: 480px) {
    font-size: 2rem;
  }
}
@mixin font-textos {
  @media (max-width: 1024px) {
    font-size: 1rem;
  }
  @media (max-width: 480px) {
    font-size: 0.875rem;
  }
}
@mixin margin-secao {
  @media (min-width: 1025px) {
    margin-top: 128px;
  }
  @media (max-width: 1024px) {
    margin-top: 64px;
  }
  @media (max-width: 480px) {
    margin-top: 32px;
  }
}
@mixin font-textos {
  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width: 480px) {
    font-size: 14px;
  }
}
