@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/*RESET E PADRÃO */

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  font-size: 1.125rem;
  background-color: #202020;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  display: block;
}
